<app-pagination-controls
[currentPage]="(paginationSubject | async)?.page"
[itemsLength]="1000"
(controlsChanged)="controlsChanged($event)">
  <table>
    <thead>
      <tr>
        <th>Season</th>
        <th>Round</th>
        <th>Position</th>
        <th>Driver's name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stand of standings$ | async">
        <td>{{ stand.season }}</td>
        <td>{{ stand.round }}</td>
        <td>{{ stand.position }}</td>
        <td>{{ stand.Driver.givenName + ' ' + stand.Driver.familyName }}</td>
      </tr>
    </tbody>
  </table>
</app-pagination-controls>
